[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
furl = "*"
django-environ = "*"
nanoid = "*"
django-cors-headers = "*"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]
ipython = "*"
pytest = "*"
black = "*"

[requires]
python_version = "3.12"
